$main-background: #F3F5F8;
$background-services-category: #FFFFFF;
$active-btn: #0094FF12;
$menu-border-background: #ced4da;
$hover-background: #f1f1f1;
$slider-main-background: #080B18;
$slider-container-background: #FFFFFF03;
$slider-border-background: #FFFFFF08;