@import '@/styles/colors.scss';
.services {
  position: relative;
  display: inline-block;
    &__option{
      width: 100%;
      height: 40px; 
    }
    &-toggle-mobile {
      display: block;
      background-color: $background-services-category;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      width: 350px;
      height: 64px;
    }
    &-toggle-table{
      display: none; 
      border-radius: 25px;
      overflow: auto;
    }
    &-menu {
      position: absolute;
      background-color: $background-services-category;
      border: 1px solid $menu-border-background;
      width: 350px;
      max-height: 0;
      overflow: hidden;
      list-style-type: none;
      padding: 0;
      transition: max-height 0.3s ease-out; 
      overflow: auto;
 
      &-open {
        max-height: 200px; 
        animation: open-menu 0.4s forwards;
      }
      li {
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
          background-color: $hover-background;
        }
      }
    }
    @keyframes open-menu {
      from {
        transform: scaleY(0);
        transform-origin: top;
      }
      to {
        transform: scaleY(1);
        transform-origin: top;
      }
    }
  @media (min-width: 1024px) {
    &-menu {
      border: none;
    }
    &-button{
      width: 352px;
      height: 80px;
      border: none;
      cursor: pointer;
      background: none;
    }
    &-toggle-mobile {
      display: none;
    }
    &-toggle-table{
      display: block;
      width: 287px;
      height: 600px;
      background: $background-services-category;
      box-sizing: border-box;
      padding: 16px 15px 8px 15px;
    }
    &-item{
      padding-top: 16px;
      list-style-type: none;
      justify-content: flex-start;
      display: flex;
    }
    &-active{
      background: $active-btn;
      border-radius: 25px;
    }  
  }
  @media (min-width: 1920px) {
    &-toggle-table{
      width: 466px;
      height: 600px;
    }
  }
}
